@model AMRent.Data.Models.Database.CarSegment

@{
    ViewData["Title"] = "Novo Segmento de veículos";
}

@section Breadcrumb {
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item active"><a asp-controller="CarSegments" asp-action="Index">Segmentos de veículos</a></li>
}

<form asp-action="Create" enctype="multipart/form-data">
    <div class="row">
        @if (ViewData.ModelState.ErrorCount > 0)
        {
            <div class="col-md-12">
                <div class="card card-danger callout callout-danger">
                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>
            </div>
        }
        <div class="col-md-6">
            <div class="card card-success card-outline">
                <div class="card-header">
                    <h3 class="card-title">Geral</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group form-group-label-on-top">
                                <label for="Code">Código</label>
                                <input asp-for="Code" class="form-control form-control-sm" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-group-label-on-top">
                                <label for="CarCategoryId">Categoria</label>
                                <select asp-for="CarCategoryId" class="form-control form-control-sm" asp-items="ViewBag.Categories">
                                    <option disabled selected></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-group-label-on-top">
                                <label for="CarFuelId">Combustível</label>
                                <select asp-for="CarFuelId" class="form-control form-control-sm" asp-items="ViewBag.Fuels">
                                    <option disabled selected></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-group-label-on-top">
                                <label for="CarGearboxId">Transmissão</label>
                                <select asp-for="CarGearboxId" class="form-control form-control-sm" asp-items="ViewBag.Gearboxes">
                                    <option disabled selected></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-group-label-on-top">
                                <label for="Seats">Assentos</label>
                                <input asp-for="Seats" class="form-control form-control-sm" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-group-label-on-top">
                                <label for="RentCountIncrement">Incremento de contador de aluguer</label>
                                <input asp-for="RentCountIncrement" class="form-control form-control-sm" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <div class="col-md-3">
            <div class="card card-success card-outline">
                <div class="card-header">
                    <h3 class="card-title">Nome</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        @for (int i = 0; i < ViewBag.Languages.Count; i++)
                        {
                            int languageId = ViewBag.Languages[i].Id;
                            var currentTranslation = Model?.Translations?.FirstOrDefault(x => x.LanguageId == languageId);
                            <input type="hidden" name="Translations[@i].LanguageId" value="@languageId" />
                            <div class="col-sm-12">
                                <div class="form-group form-group-label-on-top">
                                    <label for="Translations[@i].Name">@ViewBag.Languages[i].Name</label>
                                    <input name="Translations[@i].Name" class="form-control form-control-sm" value="@(currentTranslation?.Name ?? "")" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <div class="col-md-3">
            <div class="card card-success card-outline">
                <div class="card-header">
                    <h3 class="card-title">Tags (separadas por vírgula)</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        @for (int i = 0; i < ViewBag.Languages.Count; i++)
                        {
                            int languageId = ViewBag.Languages[i].Id;
                            var currentTranslation = Model?.Translations?.FirstOrDefault(x => x.LanguageId == languageId);
                            <input type="hidden" name="Translations[@i].LanguageId" value="@languageId" />
                            <div class="col-sm-12">
                                <div class="form-group form-group-label-on-top">
                                    <label for="Translations[@i].Tags">@ViewBag.Languages[i].Name</label>
                                    <input name="Translations[@i].Tags" class="form-control form-control-sm" value="@(currentTranslation?.Tags ?? "")" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <div class="col-md-12">
            <div class="card card-success card-outline">
                <div class="card-header">
                    <h3 class="card-title">Imagem (817px x 446px)</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6" style="text-align: center;">
                            @if (!string.IsNullOrEmpty(Model?.ImagePath))
                            {
                                <img style="max-height: 300px; max-width: 50%;" src="@Model.ImagePath" />
                            }
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-group-label-on-top">
                                <label for="ImageFile">Upload</label>
                                <input type="file" name="ImageFile" class="form-control form-control-sm" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <div class="col-md-12">
            <div class="card card-success card-outline">
                <div class="card-header">
                    <h3 class="card-title">Imagem Listagem (275px x 219px)</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6" style="text-align: center;">
                            @if (!string.IsNullOrEmpty(Model?.ListImagePath))
                            {
                                <img style="max-height: 300px; max-width: 50%;" src="@Model.ListImagePath" />
                            }
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-group-label-on-top">
                                <label for="ListImageFile">Upload</label>
                                <input type="file" name="ListImageFile" class="form-control form-control-sm" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <div class="col-md-12">
            <div class="card card-success card-outline">
                <div class="card-header">
                    <h3 class="card-title">Imagem Grelha (550px x 401px)</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6" style="text-align: center;">
                            @if (!string.IsNullOrEmpty(Model?.GridImagePath))
                            {
                                <img style="max-height: 300px; max-width: 50%;" src="@Model.GridImagePath" />
                            }
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-group-label-on-top">
                                <label for="GridImageFile">Upload</label>
                                <input type="file" name="GridImageFile" class="form-control form-control-sm" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-outline-success btn-sm float-right ml-2"><i class="far fa-save"></i> Gravar</button>
            <a asp-controller="CarSegments" asp-action="Index" class="btn btn-outline-info btn-sm float-right ml-2"><i class="fas fa-undo-alt"></i> Voltar</a>
        </div>
    </div>
</form>

@section Scripts {
    <script>
        $(function () {
            SetActiveMenu('menu-car-segments', 'menu-renting');
        });
    </script>
}