@inject dCore.MultiLanguage.Providers.TranslationProvider TranslationProvider
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model AMRent.Website.Models.ResetPassword
@{
    Layout = "_CleanLayout";
    int languageId = HttpContextAccessor.HttpContext.Session.GetInt32("SelectedLanguage") ?? (int)AMRent.Data.Enums.Languages.Portuguese;
    ViewData["Title"] = $"{TranslationProvider.GetTranslation(languageId, "ResetPassword.Titulo")}";
}

<div class="login-wrapper">
    <div class="loginbox">
        <div class="login-auth">
            <div class="login-auth-wrap">
                <h1>@TranslationProvider.GetTranslation(languageId, "ResetPassword.Titulo")</h1>
                <p class="account-subtitle">@TranslationProvider.GetTranslation(languageId, "ResetPassword.Instrucoes")</p>
                <form asp-controller="Account" asp-action="ResetPassword" class="mt-5">
                    <input type="hidden" asp-for="UserId" />
                    <div class="form-group">
                        <label class="form-label" for="NewPassword">@TranslationProvider.GetTranslation(languageId, "ResetPassword.NovaPassword") <span class="text-danger">*</span></label>
                        <div class="pass-group">
                            <input type="password" asp-for="NewPassword" class="form-control pass-input" placeholder="">
                            <span class="fas fa-eye toggle-password"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="NewPasswordConfirm">@TranslationProvider.GetTranslation(languageId, "ResetPassword.ConfirmacaoNovaPassword") <span class="text-danger">*</span></label>
                        <div class="pass-group">
                            <input type="password" asp-for="NewPasswordConfirm" class="form-control pass-input" placeholder="">
                            <span class="fas fa-eye toggle-password"></span>
                        </div>
                    </div>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <button type="submit" class="btn btn-outline-light w-100 btn-size">@TranslationProvider.GetTranslation(languageId, "ResetPassword.Botao")</button>
                </form>
            </div>
        </div>
    </div>
</div>